.home-container {
  background-color: #90c9bf;
  height: 100vh;
  width: 100vw;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
  color: white;
}

.game-items {
  margin: 0 auto;
  width: 720px;
  height: 300px;
  display: flex;
  justify-content: center;
  position: relative;
}

.game-items .game-item.on-game {
  position: absolute;
  top: 0;
  cursor: auto;
}

.game-items .game-item.on-game.left {
  left: 0;
}

.game-items .game-item.on-game.right {
  right: 0;
}

.game-result {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.game-score {
  margin-top: 10px;
  border: 1px solid white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-result .game-replay {
  margin-top: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.game-result .game-replay:hover {
  text-decoration: underline;
}

.home-container h1 {
  color: white;
  text-align: center;
}

.home-container h1.game-title {
  margin-top: 100px;
}

.slide {
  animation-name: slide;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 0.7s;
}

.fade-out {
  opacity: 0;
  animation-name: fadeOut;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.7s;
}

.fade-in {
  opacity: 1;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.7s;
}

@keyframes slide {
  0% { left: 240px; }
  100% { left: 0; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
